.about-container {
  margin-top: 80px;
}

.AboutHeading {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 80px;
  color: #F08080;
  text-align: start;
  margin-left: 80px;
}

.AboutColumns-container {
  display: flex;
  justify-content: space-between;
}

.AboutText-column, .AboutImage-column {
  flex: 1;
  margin-left: 80px;
}

.AboutText-column {
  flex: 1;
  margin-left: 80px;
  margin-top: 20px;
}

.AboutText-container {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: start;
  padding-right: 20px;
  margin-bottom: 20px;
}

.AboutText-container p {
  font-size: 18px;
  margin-bottom: 15px;
}

.AboutImage-container {
  width: 80%;
}

.AboutImage-container img {
  width: 85%;
  height: 80%;
  border-radius: 8px;
  margin-left: 80px;
}

.citation {
  font-style: italic;
  font-size: 18px;
  color: #F08080;
  background-color: rgb(22, 45, 66);
  margin-left: 50px;
  margin-top: 50px;
  width: 90%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 800px) {
  .AboutColumns-container {
    flex-direction: column;
  }

  .AboutText-column {
    flex: 100%;
    margin-left: 5%;
  }

  .AboutImage-column {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
  }

  .citation {
    order: 3;
    margin-top: 20px;
    margin-left: 5%;
    height: 110%;
    line-height: 140%;
    width: 90%;
  }
}


