.home-container {
  display: flex;
  flex-direction: column;
}

.lineHome {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #F08080;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-column {
  flex: 1;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.text-column b {
  font-size: 22px;
}

.carousel-column {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-item {
  flex: 1;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.homeParagraph {
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}

.citationHome {
  font-style: italic;
  font-size: 18px;
  color: #F08080;
  background-color: rgb(22, 45, 66);
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.slideInLeft {
  animation-name: slideInLeft;
}

@media screen and (max-width: 800px) {
  .text-column,
  .carousel-column {
    flex: 100%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .homeParagraph {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }

  .citationHome {
    margin-top: 20px;
    margin-left: 5%;
    height: 110%;
    line-height: 140%;
    width: 90%;
  }

  .carousel-item {
    height: 250px;
  }

}
