.product-container {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 50px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.product-details h2 {
  margin-bottom: 30px;
}

.product-details p {
  margin: 10px;
}
  
  .product-image {
    flex: 1;
  }
  
  .product-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details button {
    background-color: #080808;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 40%;
    margin: 20px auto;
  }
  
  
  
  .product-details button:hover {
    background-color: #85809a;
  }